# Android
android/.gradle/
android/build/
android/app/build/
android/captures/
android/local.properties
android/key.properties
android/.idea/
*.jks
*.apk
*.aab

# iOS
ios/*.xcodeproj/xcuserdata/
ios/*.xcworkspace/xcuserdata/
ios/build/
ios/Pods/
ios/DerivedData/
ios/.build/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
